<div class="hero-unit" style="width: 80%; margin: 0px auto">
<p>Welcome into remote notifier!</p>
<p>You can find more info on <a href="" >github server project page</a> or <a href="">github remote_notifier gem page</a>.</p> 
<p>Also - remember please that's only beta, and capabilities of this hosted service are limited - we strongly encourage you to deploy it into your own server!</p>
<p>
<a class="btn btn-primary btn-large" href="/users/sign_up">
Sign up
</a> or <a class="btn btn-success btn-large" href="/users/sign_in">Login</a>
</p>
</div>
